<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/common.css">

    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/">Smooth <span>Fractal</span></a>
        </h1>
        <nav class="masthead-nav">
          <a href="{{ site.baseurl }}/index/">Home</a>
          <a href="{{ site.baseurl }}/articles/">Articles</a>
          <a href="{{ site.baseurl }}/about/">About</a>
        </nav>
      </header>

      {{ content }}
    </div>
  </body>
</html>
