<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108397569-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108397569-2');
    </script>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/common.css">

    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/">Smooth <span>Fractal</span></a>
        </h1>
        <nav class="masthead-nav">
          <a href="{{ site.baseurl }}/">Home</a>
          <a href="{{ site.baseurl }}/articles/">Articles</a>
          <a href="{{ site.baseurl }}/about/">About</a>
        </nav>
      </header>

      {{ content }}
    </div>
  </body>
</html>
